<div class = "user-show">
  <%= render :partial => 'user',:locals => {user: @user} %>
</div>

<div class = "review-zone" >
  <div class = "reviews">
    <h3><%= @user.name %> さんの声</h3>
      <% @reviews.each do |review| %>
        <%= render :partial => "products/review", :locals => { review: review }%>
      <% end %>
  </div>
</div>


<div class = "products">
  <h3><%= @user.name %> さんの神回</h3>
  <% @likes.each do |like| %>
    <% @product = like.product %>
    <!-- productを定義 -->
    <%= render :partial => "products/product", :locals => { product: @product } %>
  <% end %>
</div>

<div class = "paginate">
  <%= paginate @likes %>
</div>

