

<div class = "user-show">
  <% if @user.image? %>
    <img src = <%= @user.image %> class = "icon_image">
  <% else %>
   <%= image_tag 'no-image.jpeg' ,class: "icon_image"%>
  <% end %>
  <div class = "user-show__right">
    <div class = "user-show__right__name">
      <%= @user.name %>
    </div>
    <div class = "user-show__right__profile">
      <% if @user.profile? %>
        <%= @user.profile %>
      <% else %>
        プロフィールは書かれていません
      <% end %>

    </div>
    <% if current_user.id == @user.id %>
      <%= link_to "変更", edit_user_path(current_user.id),class: "action btn pink lighten-3"%>
    <% end %>
  </div>
</div>

<div class = "review-zone" >
  <div class = "reviews">
    <h3><%= @user.name %> さんの声</h3>
      <% @reviews.each do |review| %>
        <%= render :partial => "products/review", :locals => { review: review }%>
      <% end %>
  </div>
</div>

