<div class = "product">
  <div class = "product__image">
    <a href="/products/<%=product.id%>"><img src=<%= product.image_url %> class="activator" ></a>
  </div>
  <div class = "product__bottom">
    <%= render 'products/like', product: product %>
    <div class = "product__bottom__title">
      <a><%= link_to product.title, product_path(product.id) %></a>
    </div>
    <div class = "product__bottom__date">
      <a><%= product.date%></a>
    </div>
    <div class = "product__bottom__link">
      <%= link_to "オフィシャルページへ", product.link %>
    </div>
  </div>
</div>
