<div class = "serch">

  <%= form_tag(root_path, method: :get) do %>
  <input class="search__input" name="keyword" placeholder="日付で検索" type="text" >
  <% end %>
</div>

<div class = "items">

<% @products.each do |product| %>

  <div class = "item">
    <div class = "item__image">
      <a href="/products/<%=product.id%>"><img src=<%= product.image_url %> class="activator" ></a>
    </div>
    <div class = "item__bottom">
      <div class = "item__bottom__title">
        <a><%= link_to product.title, product_path(product.id) %></a>
      </div>
      <div class = "item__bottom__time">
        <a><%= product.date%></a>
      </div>
    </div>
  </div>
<% end %>
</div>

<div class = "paginate">
  <%= paginate @products %>
</div>
