<div class = "products">
  <%= render :partial => "product", :locals => { product: @product } %>
</div>

<div class = "review-zone" >
  <div class = "form">
    <%= form_tag("/products/#{@product.id}/reviews", method: :post, id: "new_review") do %>
      <textarea name="text" placeholder="コメントする"></textarea>
      <input type="submit" value="送信">
    <% end %>
  </div>
  <div class = "reviews">
    <h3>< リトルトゥースの声 ></h3>
      <% if @reviews %>
        <% @reviews.each do |review| %>
        <div class = "review">
          <% if review.user.image? %>
            <img src = <%= review.user.image %> class = "icon_image">
          <% else %>
           <%= image_tag 'no-image.jpeg' ,class: "icon_image"%>
          <% end %>
          <div class = "review__right">
            <%= link_to review.user.name, "/users/#{review.user.id}"%>
            <p><%= review.text  %></p>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>


