<!DOCTYPE html>
<html>
  <head>
    <title>AudreyApp</title>
    <%= csrf_meta_tags %>

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "wrapper">
      <nav class = "nav pink lighten-3">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">#annkw</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <li><%= link_to current_user.name,"" %></li>
              <li><%= link_to "リトルトゥース","" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </div>
      </nav>

      <%= yield %>

    </div>
  </body>
</html>
